body {
  font-family: 'Press Start 2P', cursive;
  padding: 0px;
  margin: 0px;
  background-color: darkcyan;
}

header {
  text-align: center;
  background-color: blue;
}

header > h2 {
  color: palevioletred;
  padding: 25px 10px;
  margin: 0px;
}

.score-board {
  margin: 20px auto;
  border: 3px solid white;
  border-radius: 4px;
  text-align: center;
  width: 320px;
  color: white;
  font-size: 30px;
  padding: 20px 25px;
  position: relative;
}

.score-board .badge {
  background: red;
  font-size: 24px;
  padding: 2px 10px;
  border: 1px solid white;
}

#user-score-label {
  position: absolute;
  left: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#ai-score-label {
  position: absolute;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.result {
  height: 150px;
}

.result > p {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 22px;
}

.choices {
  text-align: center;
}

.choices div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 20px 25px;
}

.choices span {
  font-size: 68px;
  padding: 20px 20px;
}

.choices .rock-choice span {
  color: #ff1e3c;
}

.choices .paper-choice span {
  color: #5a9bdd;
}

.choices .scissor-choice span {
  color: springgreen;
}

.move {
  text-align: center;
}

.pointsChoice {
  text-align: center;
}

.pointsChoice button {
  display: inline-block;
  padding: 10px 15px;
  margin: 10px 10px;
  background-color: coral;
  color: white;
  font-size: 20px;
  border: 2px solid black;
}

@media (max-width: 980px) {
  header h2 {
    font-size: 22px;
  }
  .score-board {
    margin: 15px auto;
    width: 300px;
    font-size: 26px;
    padding: 15px 20px;
  }
  .score-board .badge {
    padding: 7px 12px;
    font-size: 20px;
    top: 10px;
  }
  .result > p {
    font-size: 26px;
  }
  .choices span {
    font-size: 100px;
  }
  .pointsChoice button {
    font-size: 28px;
  }
  .move {
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  header h2 {
    font-size: 30px;
  }
  .score-board .badge {
    padding: 7px 12px;
    font-size: 20px;
    top: 10px;
  }
}

@media (max-width: 580px) {
  header h2 {
    font-size: 16px;
  }
  .score-board {
    margin: 15px auto;
    width: 220px;
    font-size: 26px;
    padding: 10px 10px;
  }
  .score-board .badge {
    padding: 5px 5px;
    font-size: 14px;
    top: 10px;
  }
  .result {
    height: 80px;
  }
  .result > p {
    font-size: 14px;
  }
  .choices div {
    margin: 10px 10px;
  }
  .choices span {
    font-size: 40px;
    padding: 5px;
  }
  .pointsChoice {
    margin: 20px;
  }
  .pointsChoice button {
    font-size: 14px;
    padding: 5px;
    margin: 10px 5px;
  }
  .move {
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */